<div class="row mb-2 choice" id="c-{{ id }}">
    <div class="border-top border-info  "></div>
    <div class='col-lg'>
            <h5 class="text-sm-left lh-base font-normal text-none text-decoration-none text-reset choice-{{ id }}">
                Choice {{ id }}
            </h5>
        

        <label class="form-label" for="question-{{ qid }}-choice-{{ id }}">Choice's text</label>
        <input class="form-control mb-3" type="text" id="question-{{ qid }}-choice-{{ id }}" name="question-{{ qid }}-choice-{{ id }}" placeholder="type here..." required>
    </div>
</div>