<div class="row mb-2 field" id="f-{{ id }}">
    <div class="border-top border-info  "></div>
    <div class='col-lg'>
            <h5 class="text-sm-left lh-base font-normal text-none text-decoration-none text-reset field-{{ id }}">
                Field {{ id }}
            </h5>
        

        <label class="form-label" for="question-{{ qid }}-field-{{ id }}">Field's note</label>
        <input class="form-control mb-3" type="text" id="question-{{ qid }}-field-{{ id }}" name="question-{{ qid }}-field-{{ id }}" placeholder="type here..." required>
    </div>
</div>