{% load static %}
<div class="position-relative row w-100 mb-lg-5" style="width: 90% !important; margin-left: 5% !important; margin-right: 5% !important;"> 
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top mb-5"> 
        <div class="col-md-4 d-flex align-items-center mt-3"> 
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> 
                <svg class="bi" width="30" height="24" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg> 
            </a> 
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Restless Sick, Inc</span>
        </div> 
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="We are">
                    <img src="{% static 'main/images/logo.svg' %}" width="24" height="24" aria-hidden="true">
                </a>
            </li> 
            
        </ul> 
    </footer> 
</div>